.card {
    width: 70%; /* Increased width */
    max-height: 70%; /* Use max-height instead of height */
    overflow-y: auto;
    overflow-x: hidden; /* Hide horizontal overflow */
    border-radius: 20px ;
    border: 10px solid black;
    background: #09153a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    color: white;
    scroll-behavior: smooth;

    /* Center the card horizontally and vertically */
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Customize the scrollbar */
.card::-webkit-scrollbar {
    width: 12px; /* Increased scrollbar width */
}

.card::-webkit-scrollbar-thumb {
    background-color: #28304f;
    border-radius: 10px;
}

.card::-webkit-scrollbar-thumb:hover {
    background-color: #1f253e; /* Change color on hover */
}

.card::-webkit-scrollbar-track {
    background-color: #0c122b;
}

.card::-webkit-scrollbar-track:hover {
    background-color: #0a0f23; /* Change track color on hover */
}
