


.input-field{
    position: relative;
    margin-bottom: 7%;
    margin-top: 7%;
  }
  .input-field input{
     width: 350px;
    height: 60px;
    border-radius: 6px;
    font-size: 18px;
    padding: 0 15px;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    outline: none;
  }
  .input-field label{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 19px;
    pointer-events: none;
    transition: 0.3s;
  }
  input:focus{
    border: 2px solid #18ffff;
  }
  input:focus ~ label,
  input:valid ~ label{
    top: 0;
    left: 15px;
    font-size: 16px;
    padding: 0 2px;
    background: #060b23;
  }