
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');

.btn{

font-family: Koulen;
font-weight: 0;
font-size: 14px;
color: #fff;
background-color: #d62828;
padding: 10px 30px;
border: solid #d62828 2px;
box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
border-radius: 50px;
transition : .5s;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
height: 70%;
margin: 0.5%;
}

.btn:hover{

transition : .2s;
background-color: #fff;
color: #0066cc;
border: solid 2px #0066cc;
}